body {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
  height: 38px;
  padding-top: 7px;
  border-radius: 8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#error {
  color: red;
  padding-top: 10px;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

#to_amount {
  font-size: 1.5em;
  padding: 10px;
  background: #e7f5fe;
  text-align: center;
  border: 1px solid #b6d4fe;
  border-radius: 4px;
  color: #000;
}

span {
  padding: 0px 10px;
}
